{% extends 'base.html.twig' %}

{% block title %}Inventaire index{% endblock %}

{% block body %}
<form method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="d-flex flex-wrap align-items-center"> <!-- Ajout de la classe "align-items-center" pour centrer verticalement les éléments -->
        <a class="btn btn-warning btn-sm mr-2 mb-2" href="{{ path('app_inventaire_index') }}">
            <i class="fas fa-sync-alt"></i>
        </a>
        {% for attribute in allowedAttributes %}
            <div class="input-group mr-2 mb-2 input-group-sm"> <!-- Ajout des classes "mr-2" et "mb-2" pour espacer les éléments -->
                <input type="text" class="form-control form-control-sm" aria-label="Search" aria-describedby="basic-addon2" 
                placeholder="Pour {{ attribute }}" id="{{ attribute }}" name="{{ attribute }}" value="{{ searchCriteria[attribute] ?? '' }}">
                <div class="input-group-append mr-4">
                    <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary btn-sm dropdown-toggle mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Recherche entre 2 dates
        </button>
    </div>
</form>

<p class="d-inline-flex my-3">
    
  
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form method="get" action="{{ path('app_inventaire_index') }}" class="row">
            <h5><strong>Recherche entre 2 dates</strong></h5>
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col">
                    <label for="start_date" class="col col-form-label">Debut :</label>
                        <input type="date" id="start_date" name="start_date" value="{{ startDate }}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col">
                    <label for="end_date" class="col col-form-label">Fin :</label>
                        <input type="date" id="end_date" name="end_date" value="{{ endDate }}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row mt-4">
                    <div class="offset col mt-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('app_inventaire_index', {'sort': 'update_at', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                    Date inventaire
                    <i class="fas fa-sort"></i>
                    </a> 
                </th>
                <th>
                    <a href="{{ path('app_inventaire_index', {'sort': 'reference', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Produit
                    <i class="fas fa-sort"></i>
                    </a> 
                </th>
                {# <th> #}
                    {# <a href="{{ path('app_achat_index', {'sort': 'updateAt', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}"> #}
                         {# Stock actuel #}
                    {# <i class="fas fa-sort"></i> #}
                    {# </a>  #}
                {# </th> #}
                <th>
                    <a href="{{ path('app_inventaire_index', {'sort': 'stockinventaire', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Stockinventaire
                    <i class="fas fa-sort"></i>
                    </a> 
                </th>
                <th>
                    <a href="{{ path('app_inventaire_index', {'sort': 'stockutiliser', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Produit en utilisation
                    <i class="fas fa-sort"></i>
                    </a> 
                </th>
                <th>Ecart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventaire in pagination %}
            <tr>
                <td>
                    {{ inventaire.updateAt ? inventaire.updateAt|date('Y-m-d') : '' }}
                    <small class="text-muted">
                        {{ inventaire.updateAt ? inventaire.updateAt|date('H:i:s') : '' }}
                    </small>
                </td>
                <td>{{ inventaire.reference.designation }}</td>
                {# <td>{{ inventaire.reference.quantite }}</td> #}
                <td>{{ inventaire.stockinventaire }}</td>
                <td>{{ inventaire.stockutiliser }}</td>
                <td class="{% if inventaire.calculerEcart() < 0 %} 
                                bg-danger text-white
                            {% elseif inventaire.calculerEcart() > 0 %}
                                bg-primary text-white
                            {% endif %}">
                    {{ inventaire.calculerEcart() }}
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('app_inventaire_show', {'id': inventaire.id}) }}" class="btn btn-primary btn-success btn-sm" ><i class="fas fa-fw fa-eye"></i></a>
                        <a href="{{ path('app_inventaire_edit', {'id': inventaire.id}) }}" class="btn btn-primary btn-warning btn-sm mx-2"><i class="fas fa-fw fa-pencil-alt"></i></a>
                    {{ include('inventaire/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Ajouter la pagination -->
    <div class="pagination pagination-sm">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block widget %}
    <a href="{{ path('app_inventaire_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-user-plus"></i> Nouveau
    </a>
{% endblock %}

{% block widget_droite %}
<a href="{{ path('app_inventaire_list') }} " class="d-none d-sm-inline-block btn btn-sm btn-danger">
    <i class="fas fa-file-pdf"></i> Exporter la liste
</a>
<a href="{{ path('export_inventaires') }}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
    <i class="far fa-file-excel mr-1"></i> Exporter en XLS
</a>
{% endblock %}