{% extends 'base.html.twig' %}

{% block title %}Inventaire index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Date inventaire</th>
                <th>Note</th>
                <th>Stockinventaire</th>
                <th>Produit en utilisation</th>
                <th>Ecart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventaire in inventaires %}
            <tr>
                <td>{{ inventaire.reference.designation }}</td>
                <td>{{ inventaire.updateAt ? inventaire.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inventaire.note }}</td>
                <td>{{ inventaire.stockinventaire }}</td>
                <td>{{ inventaire.stockutiliser }}</td>
                <td>{{ inventaire.calculerEcart() }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('app_inventaire_show', {'id': inventaire.id}) }}" class="btn btn-primary btn-success btn-sm" ><i class="fas fa-fw fa-eye"></i></a>
                        <a href="{{ path('app_inventaire_edit', {'id': inventaire.id}) }}" class="btn btn-primary btn-warning btn-sm mx-2"><i class="fas fa-fw fa-pencil-alt"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inventaire_new') }}">Create new</a>
{% endblock %}
