{% extends 'base.html.twig' %}

{% block title %}DetailAchat index{% endblock %}

{% block body %}
    <h1>DetailAchat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prixunitaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_achat in detail_achats %}
            <tr>
                <td>{{ detail_achat.id }}</td>
                <td>{{ detail_achat.quantite }}</td>
                <td>{{ detail_achat.prixunitaire }}</td>
                <td>
                    <a href="{{ path('app_detail_achat_show', {'id': detail_achat.id}) }}">show</a>
                    <a href="{{ path('app_detail_achat_edit', {'id': detail_achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detail_achat_new') }}">Create new</a>
{% endblock %}
