{{ form_start(form) }}
    <div class="row m-3">
        <div class="col-md-2">
            <label>Image du produit</label>
            {{ form_widget(form.imageFile) }}
            {{ form_errors(form.imageFile) }}
        </div>
        <div class="col-md-2">
            <label>Désignation</label>
            {{ form_widget(form.designation) }}
            {{ form_errors(form.designation) }}
        </div>
        <div class="col-md-4">
            <label>Description</label>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="col-md-2">
            <label>Capaciter</label>
            {{ form_widget(form.capaciter) }}
            {{ form_errors(form.capaciter) }}
        </div>
        <div class="col-md-2">
            <label>Uniter</label>
            {{ form_widget(form.unite) }}
            {{ form_errors(form.unite) }}
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md">
            <label>Catégorie</label>
            {{ form_widget(form.idCategorie) }}
            {{ form_errors(form.idCategorie) }}
        </div>
        <div class="col-md">
            <label>Prix unitaire (Ariary)</label>
            {{ form_widget(form.prixunitaire) }}
            {{ form_errors(form.prixunitaire) }}
        </div>
        <div class="col-md">
            <label>Date d'expiration</label>
            {{ form_widget(form.dateexp) }}
            {{ form_errors(form.dateexp) }}
        </div>
        <div class="col-md">
            <label>Emplacement du produit</label>
            {{ form_widget(form.emplacement) }}
            {{ form_errors(form.emplacement) }}
        </div>
    </div>
    
    <div class="row m-3">
        <div class="col-md">
            <label for="{{ form.qttemin.vars.id }}">Quantité minimale</label>
            {{ form_widget(form.qttemin) }}
            {{ form_errors(form.qttemin) }}
        </div>
        <div class="col-md">
            <label for="{{ form.qttemax.vars.id }}">Quantité maximale</label>
            {{ form_widget(form.qttemax) }}
            {{ form_errors(form.qttemax) }}
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md">
            <button class="btn btn-primary btn-sm "><i class="fas fa-fw fa-save mr-1"></i>
                {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}