{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
<div id="content">
    <div class="row m-3">
    
        <div class="col-md-3">
            {{ form_label(form.datevente) }}
            {{ form_widget(form.datevente) }}
        </div>
        <div class="col-md-3">
            {{ form_label(form.idClient) }}
            {{ form_widget(form.idClient) }}
        </div>
    </div>
    <div class="row m-4">
        <table class="col-9" >
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantite</th>
                    <th>Prix Unitaire</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>
        <div class="col-3">
        <div class="row ">
            <div class="col-md-5">
                <label for="form_tva">TVA</label>
            <div class="input-group "> 
                {{ form_widget(form.Tva) }}
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
            </div>
            <div class="col-md-5">
                <label for="form_remise">Remise</label>
                <div class="input-group ">
                    {{ form_widget(form.Remise) }}
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>
            <label>Total (Ariary)</label>
            <div class="row" id="prixtotal">
                <h4><span id="total-value">0</span></h4>
            </div>
        <div>
    </div>
    <div class="row">
        <div class="col">
            <button id="add" class="btn btn-primary btn-sm" >Ajouter</button>
            <button class="btn btn-success btn-sm">{{ button_label|default('Enregistrer') }}</button>
        </div>
        <div class="row">
            <div class="col mt-3">

            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script src="{{ asset('js/vente.js') }}"></script>
