{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
<div id="content">
    <div class="row m-3">
    
        <div class="col-md-3">
            {{ form_label(form.datevente) }}
            {{ form_widget(form.datevente) }}
        </div>
        <div class="col-md-3">
            {{ form_label(form.idClient) }}
            {{ form_widget(form.idClient) }}
        </div>
    </div>
    <div class="row m-4">
        <table class="col-9" >
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantite</th>
                    <th>Prix Unitaire</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>
        <div class="col-3">
        <div class="row ">
            <div class="col-md-5">
                <label for="form_tva">TVA</label>
            <div class="input-group "> 
                {{ form_widget(form.Tva) }}
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
            </div>
            <div class="col-md-5">
                <label for="form_remise">Remise</label>
                <div class="input-group ">
                    {{ form_widget(form.Remise) }}
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
        </div>
            <label>Total (Ariary)</label>
            <div class="row" id="prixtotal">
                <h4><span id="total-value">0</span></h4>
            </div>
        <div>
    </div>
    <div class="row">
        <div class="col">
            <button id="add" class="btn btn-primary btn-sm" >Ajouter</button>
            <button class="btn btn-success btn-sm">{{ button_label|default('Enregistrer') }}</button>
        </div>
        <div class="row">
            <div class="col mt-3">

            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script>
    document.getElementById("add").addEventListener('click', addRow);

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function addRow(event) {

        try {
                  event.preventDefault();
        } catch (error) {
            
        }
        
        var table = document.getElementById("tbody");
        var newRow = document.createElement("tr");
        var produitCell = document.createElement("td");
        var quantiteCell = document.createElement("td");
        var prixUnitaireCell = document.createElement("td");
        var actionsCell = document.createElement("td");

        var produitSelect = document.createElement("select");
        produitSelect.name = "produit[]";
        produitSelect.classList.add("produit-select", "form-select");
        produitSelect.innerHTML = '<option value="">Sélectionnez un produit</option>';

       
        // Appel initial de la fonction updateTotal pour mettre à jour le prix total
        updateTotal();

        // Effectuer une requête AJAX avec fetch pour récupérer les données des produits
        fetch("/produit/api")
            .then(function(response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Une erreur s'est produite lors de la récupération des produits.");
                }
            })
            .then(function(products) {
                products.forEach(function(product) {
                    var option = document.createElement("option");
                    option.value = product.id;
                    option.textContent = product.designation;
                    option.dataset.price = product.price; // Ajout de l'attribut data-price pour stocker le prix unitaire
                    produitSelect.appendChild(option);
                });
            })

            .catch(function(error) {
                console.error(error);
            });

        produitSelect.addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var priceInput = prixUnitaireCell.querySelector('.prixunitaire-input');
            var price = selectedOption.dataset.price;

            priceInput.value = price;
        });

        produitCell.appendChild(produitSelect);
        quantiteCell.innerHTML = '<input type="text" name="quantite[]" class="quantite-input form-control">';
        prixUnitaireCell.innerHTML = '<input type="text"  name="prixunitaire[]" class="prixunitaire-input form-control">';
        actionsCell.innerHTML = '<button class="delete btn btn-danger" onclick="deleteRow(this)"><i class="fas fa-trash"></i></button>';

        newRow.appendChild(produitCell);
        newRow.appendChild(quantiteCell);
        newRow.appendChild(prixUnitaireCell);
        newRow.appendChild(actionsCell);

        table.appendChild(newRow);

        // Attache un écouteur d'événement à chaque champ d'entrée de quantité
        var quantiteInputs = document.getElementsByClassName("quantite-input");
        for (var i = 0; i < quantiteInputs.length; i++) {
            quantiteInputs[i].addEventListener('input', updateTotal);
        }
    }
    for (let index = 0; index < 3; index++) {
        addRow();
    }
    const renameInput=(event)=>{
        event.preventDefault()
    // Récupérer tous les éléments <tr> dans le <tbody>
    const rows = document.querySelectorAll("tbody tr");

    // Parcourir chaque ligne du tableau
    rows.forEach((row, index) => {
    // Récupérer les éléments <input> dans la ligne actuelle
    const inputProduit = row.querySelector("select[name='produit[]']");
    const inputPrix = row.querySelector("input[name='prixunitaire[]']");
    const inputQuantite = row.querySelector("input[name='quantite[]']");
    console.log(inputProduit)
        try {
            if(inputProduit.value.trim()){
            // Mettre à jour les valeurs des inputs
            inputProduit.setAttribute('name', "produit-" + index + "");
            inputPrix.setAttribute('name',"prixunitaire-" + index + "");
            inputQuantite.setAttribute('name',"quantite-" + index + "");
        }
    } catch (error) {
        
        }  
    });
    document.getElementsByName('vente')[0].submit()
}

    function updateTotal() {
        var rows = document.querySelectorAll("tbody tr");
        var total = 0;

        rows.forEach(function(row) {
            try {
                var quantityInput = row.querySelector(".quantite-input");
                var unitPriceInput = row.querySelector(".prixunitaire-input");
                var quantity = parseFloat(quantityInput.value) || 0;
                var unitPrice = parseFloat(unitPriceInput.value) || 0;
                total += quantity * unitPrice;
            } catch(error){

            }
        });

        document.getElementById("total-value").textContent = total.toFixed(2);
        }

        const form=document.getElementsByName('vente')[0]
        form.addEventListener('submit',renameInput)

    var printLink = document.getElementById("print-link");
    printLink.addEventListener("click", function(event) {
        event.preventDefault();
        window.print();
    });
</script>