{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}


{% block widget %}

    <a href="{{ path('app_commande_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-user-plus"></i> Nouveau
    </a>
    
{% endblock %}
{% block widget_droite %}
<a href="{{ path('app_commande_list') }} " class="d-none d-sm-inline-block btn btn-sm btn-danger">
    <i class="fas fa-file-pdf"></i> Exporter la liste
</a>
   <a href="{{ path('export_commandes') }}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="far fa-file-excel mr-1"></i> Exporter en XLS
    </a>
{% endblock %}
{% block body %}
<form method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="d-flex flex-wrap align-items-center"> <!-- Ajout de la classe "align-items-center" pour centrer verticalement les éléments -->
        <a class="btn btn-warning btn-sm mr-2 mb-2" href="{{ path('app_commande_index') }}">
            <i class="fas fa-sync-alt"></i>
        </a>
        {% for attribute in allowedAttributes %}
            <div class="input-group mr-2 mb-2 input-group-sm"> <!-- Ajout des classes "mr-2" et "mb-2" pour espacer les éléments -->
                <input type="text" class="form-control form-control-sm" aria-label="Search" aria-describedby="basic-addon2" 
                placeholder="Pour {{ attribute }}" id="{{ attribute }}" name="{{ attribute }}" value="{{ searchCriteria[attribute] ?? '' }}">
                <div class="input-group-append mr-4">
                    <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</form>


    <table class="table  table-hover">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('app_commande_index', {'sort': 'numfacture', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Commande Num 
                        <i class="fas fa-sort"></i>
                    </a>    
                </th>
                <th>
                    <a href="{{ path('app_commande_index', {'sort': 'datecommande', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Date commande
                        <i class="fas fa-sort"></i>
                    </a>   
                </th>
                <th>
                    <a href="{{ path('app_commande_index', {'sort': 'idClient', 'order': (order == 'asc' ? 'desc' : 'asc')}) }}">
                        Client
                        <i class="fas fa-sort"></i>
                    </a>   
                </th>
                <th>A payer</th>
                <th>Etatcommande</th>
                <th>Act</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in pagination %}
            <tr>
                <td>
                    <button class="btn btn-secondary btn-sm">{{ commande.numfacture }}</button>
                </td>
                <td>
                    {{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}
                    
                    <small class="text-muted">
                        {{ commande.datecommande ? commande.datecommande|date('H:i:s') : '' }}
                    </small>
                </td>
                <td>{{ commande.idClient.nom }}</td>
                <td>{{ commande.total()|number_format(2, ',', ' ') }} Ar</td>
                <td>{% if commande.etatcommande == 'Yes' %}
                        <button class="btn btn-success btn-sm">{{ 'Terminé'|trans }}</button>
                    {% else %}
                        <button class="btn btn-danger btn-sm">{{ 'En cours'|trans }}</button>
                    {% endif %}
                </td>
                <td>
                   <div class="d-flex align-items-center">
                        {# <a href="{{ path('app_commande_edit', {'id': commande.id}) }}"  class="btn btn-primary btn-warning btn-sm mx-2"><i class="fas fa-fw fa-pencil-alt"></i></a> #}
                        {{ include('commande/_delete_form.html.twig') }}
                        <a href="{{ path('app_commande_show', {'id': commande.id| nzo_encrypt}) }}"class="btn btn-primary btn-success btn-sm mx-2" ><i class="fas fa-fw fa-eye"></i></a>
                        <a href="{{ path('app_commande_pdf', {'id': commande.id| nzo_encrypt}) }} " class="d-none d-sm-inline-block btn btn-sm btn-secondary ">
                            <i class="fas fa-file-invoice"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Ajouter la pagination -->
    <div class="pagination pagination-sm">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}
