{% extends 'base.html.twig' %}

{% block title %}commande{% endblock %}

{% block body %}
    <div class="">
        <!-- Table for facture details -->
        <table class="table table-hover cursor-pointer table-primary">
            <tbody>
                <tr>
                    <th>Numfacture</th>
                    <td>{{ commande.numfacture }}</td>
                </tr>
                <tr>
                    <th>Datecommande</th>
                    <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
        
        <!-- Table for commande details -->
        <table class="table table-hover cursor-pointer">
            <thead class="table-dark">
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in commande.detailcommandes %}
                    <tr>
                        <td>{{ detail.reference.designation }}</td>
                        <td>{{ detail.quantite }}</td>
                        <td>{{ detail.prixunitairevente|number_format(2, ',', ' ') }} Ar</td>
                        <td>{{ (detail.prixunitairevente * detail.quantite)|number_format(2, ',', ' ') }} Ar</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Summary table -->
        <table class="table table-hover cursor-pointer table-light">
            <tbody>
                <tr class="table">
                    <th>Sous-total</th>
                    <td>{{ commande.soustotal|number_format(2, ',', ' ') }} Ar</td>
                </tr>
                <tr class="table">
                    <th>Taux de TVA</th>
                    <td>{{ commande.tva|number_format(2, ',', ' ') }} %</td>
                </tr>
                <tr class="table">
                    <th>Montant de la TVA</th>
                    <td>{{ (commande.soustotal * commande.tva / 100)|number_format(2, ',', ' ') }} Ar</td>
                </tr>
                <tr class="table">
                    <th>Remise</th>
                    <td>{{ commande.remise|number_format(2, ',', ' ') }} %</td>
                </tr>
                <tr class="table-success">
                    <th>Total à payer</th>
                    <td>{{ commande.total|number_format(2, ',', ' ') }} Ar</td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}
{% block widget %}
    <a href="{{ path('app_commande_index') }}" class="btn btn-dark btn-sm"><i class="fas fa-fw fa-arrow-left mr-2"></i>Retour</a>
{% endblock %}

{% block widget_droite %}
    {{ include('commande/_delete_form.html.twig') }}

{% endblock %}