<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center flex-column my-5" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon mb-6">
            <img src="{{ asset('imgauth/logo.png') }}" alt="Logo" class="img-fluid" style="max-width: 80px;">
        </div>
        <div class="sidebar-brand-text mx-3">Aero Stock</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item ">
        <a class="nav-link" >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Status : 
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="btn btn-sm btn-primary position-relative"><strong>Admin</strong>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill r">
                        <div class="spinner-grow text-success spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="visually-hidden">unread messages</span>
                    </button>
                {% elseif is_granted('ROLE_EDIT') %}
                    <button class="btn btn-sm btn-warning position-relative"><strong>Editeur</strong>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill r">
                        <div class="spinner-grow text-success spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="visually-hidden">unread messages</span>
                    </button>
                {% else %}
                    <button class="btn btn-sm btn-secondary position-relative"><strong>Utilisateur</strong>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill r">
                        <div class="spinner-grow text-success spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="visually-hidden">unread messages</span>
                    </span>
                    </button>
                {% endif %}
            </span>
        </span>
        
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('app_home')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span>
        </a>
    </li>

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_user_index')}}">
                <i class="fas fa-user-shield"></i>
                <span>Utilisateur</span>
            </a>
        </li>
        <li class="nav-item">
            {# <a class="nav-link" href="{{ path('app_fournisseur_index')}}"> #}
            <a type="button" class="nav-link" href="#" >
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Profil</span>
            </a>
        </li>
        
    {% endif %}
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProd" aria-expanded="true" aria-controls="collapseProd">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Produits et Stocks</span>
        </a>
        <div id="collapseProd" class="collapse" aria-labelledby="headingProd" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_produit_index') }}">Liste des Produits</a>
                <a class="collapse-item" href="{{ path('app_produit_new') }}">Ajouter un Produit</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Achat</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_achat_index') }}">Liste des Achat</a>
                <a class="collapse-item" href="{{ path('app_achat_new') }}">Ajouter une Achat</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="nav-icon fa fa-shopping-cart"></i>
            <span>Vente</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_vente_index') }}">Liste des ventes</a>
                <a class="collapse-item" href="{{ path('app_vente_new') }}">Ajouter une vente</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventaires"
            aria-expanded="true" aria-controls="collapseInventaires">
            <i class="fas fa-clipboard-list"></i>
            <span>Inventaire</span>
        </a>
        <div id="collapseInventaires" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_inventaire_index') }}">Liste des inventaires</a>
                <a class="collapse-item" href="{{ path('app_inventaire_new') }}">Ajouter une inventaire</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients"
            aria-expanded="true" aria-controls="collapseClients">
            <i class="nav-icon fa fa-user"></i>
            <span>Clients</span>
        </a>
        <div id="collapseClients" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_client_index') }}">Liste des  clients</a>
                <a class="collapse-item" href="{{ path('app_client_new') }}">Ajouter un client</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommandes"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="nav-icon fa fa-shopping-cart"></i>
            <span>Commandes</span>
        </a>
        <div id="collapseCommandes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_commande_index') }}">Liste des commandes</a>
                <a class="collapse-item" href="{{ path('app_commande_new') }}">Ajouter une commande</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVilles"
            aria-expanded="true" aria-controls="collapsePages">
            {# <i class="nav-icon fa fa-shopping-cart"></i> #}
           <i class="fas fa-plus icon-plus"></i>
        </a>
        <div id="collapseVilles" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_ville_index') }}">Liste des Fournisseurs</a>
            </div>
        </div>
        <div id="collapseVilles" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_emplacement_index') }}">Liste des Emplacements</a>
            </div>
        </div>
        <div id="collapseVilles" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_ville_index') }}">Liste des Villes</a>
            </div>
        </div>
        <div id="collapseVilles" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_categorie_index') }}">Liste des Categorie</a>
            </div>
        </div>
    </li>
    
</ul>
